.filler {
    height: 100%;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

span{
    color: black;
}