#stat {
    background: white;
    width: 30vw;
    height: auto;
    color: black;
    border-style: solid;
    border-color: black;
}

#headerstats {
    text-align: start;
    margin-left: 0.4em;
}