.containerFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#option {
    margin-top: 10%;
}

#optionbutton {
    width: 40vw;
    font-size: 2em;
}

#pokeheader {
  width: 30vw;
  height: 15vh;
}

#poketeam {
  width: 50vw;
  height: 20vh;
}