#options {
  position: fixed;
  top: 30%;
  left: 40%;
  margin-top: -50px;
  margin-left: -140px;
}

#option {
    margin-top: 10%;
    font-size: 4rem;
}

#optionbutton {
    width: 40vw;
}

#pokeheader {
  width: 30vw;
  height: 30vh;
  margin-left: 35%;
}

#poketeam {
  width: 50vw;
  height: 50vh;
  margin-top: 15%;
  margin-left: 25%;
  position: fixed;
}